.lay{
  display: grid;
  width: 100vw;
   grid-template-columns: 30% 65%;
   gap: 1%;
   justify-content: baseline;

}
.r{
    display: flex;
    flex-direction: column;
    width: 100%;
   padding: 1%;
   margin: 1%;
}
@media (max-width: 480px) {
   .lay {
     grid-template-columns: 1fr; /* Single column */
     grid-template-rows: auto auto; /* Stack vertically */
   }
 }