.footer{
    width: 100%;
   
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 1%;
    margin: 1%;
}
.footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}